<div class="header"><br><br>
<h2>FIND BEST WINTER & SUMMER INTERNSHIPS FOR STUDENTS IN INDIA 2020</h2>
<input type="text" placeholder="Search internships by interest,industry and location">
</div>

<div class="internships">
<h2>Internships By Location</h2>
<br><br>
<a routerLink="Delhi"><img src="../../assets/Delhi-Internships.svg"></a>
<a routerLink="Pune"><img src="../../assets/Pune-Internships.svg"></a>
<a routerLink="Mumbai"><img src="../../assets/Mumbai-Internships.svg"></a>
<a  routerLink="All"><img src="../../assets/Bangalore-Internships.svg"></a>
<a  routerLink="All"><img src="../../assets/Chennai-Internships.svg"></a>
<a  routerLink="All"><img src="../../assets/Hyderabad-Internships.svg"></a>
<a  routerLink="All"><img src="../../assets/India-Internships.svg"></a>
</div>
<br>
<div class="names">
<a routerLink="Delhi">Delhi</a>
<a routerLink="Pune">Pune</a>
<a routerLink="Mumbai">Mumbai</a>
<a routerLink="All">Banglore</a>
<a routerLink="All">Chennai</a>
<a routerLink="All">Hyderabad</a>
<a routerLink="All">India</a>
</div>

